@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Bd.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

