/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Mar, 2021, 1:40:19 PM
    Author     : wdipl
*/
.form-group .invalid-feedback {
    bottom: -28px;
}
.logo img{width: 125px;}



@media only screen and (max-width: 480px){
    .logo img {
    width: 55px;
    margin-left: -10px;
}
}