@font-face {
    font-family: 'Finger Paint';
    src: url('FingerPaint-Regular.woff2') format('woff2'),
        url('FingerPaint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

